services:
  web:
    build: .
    restart: always
    ports:
      - "8001:8000"
    env_file:
      - .env.prod
    volumes:
      - ./mysite/settings:/app/mysite/settings:ro,Z
      - ./db.sqlite3:/app/db.sqlite3:Z
      - ./media:/app/media:Z
      - ./staticfiles:/app/staticfiles:Z
    command: python manage.py runserver 0.0.0.0:8000

