services:
  web:
    build: .
    ports:
      - "8001:8000"
    env_file:
      - .env.prod
    volumes:
      - ./mysite/settings:/app/mysite/settings:ro
      - ./db.sqlite3:/app/db.sqlite3
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    command: python manage.py runserver 0.0.0.0:8000

