<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Complete</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>
        .logincontainer {
            width: 100%;
            max-width: 500px;
            margin: 200px auto;
            background: #fff;
            padding: 70px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #930e0e;
            margin: 0;
            padding: 0;
        }
    </style>    
</head>
<body>
    <div class="logincontainer">
        <h2>Password Reset Complete</h2>
        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        <p><a href="{% url 'login' %}">Back to Login</a></p>
    </div>
</body>
</html>
