body {
    font-family: Arial, sans-serif;
    background-color: #ab1414;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 80px auto;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
}

h4 {
    color: #333;    
}

form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #df0202;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #ec3131;
}

a {
    color: #ec3131;
    text-align: center;
    display: block;
    margin-top: 10px;
}


.user-list {
    margin-top: 20px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    background: #f4f4f4;
    margin: 3px 0;
    padding: 8px;
    border-radius: 4px;
}

.top-right {
    position: absolute;
    top: 15px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    padding: 6px 10px;
    background-color: #62adfd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #1d85f5;
}

.logout-container form button {
    background-color: #ca2727;
}

.logout-container form button:hover {
    background-color: #ec3131;
}

.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.username {
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    padding-right: 800px ;
    font-size: larger;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

